* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  min-height: 100vh;
  background-color: #222;
  color: rgba(197, 167, 167, 0.1568627451);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
section,
h3 {
  width: 900px;
}

header {
  margin: 20px;
}

header h1,
h2,
h3,
section h4 {
  margin-bottom: 10px;
  font-size: 3rem;
}

h2 {
  margin-top: 30px;
}

h3 {
  margin-bottom: 20px;
}

h3 span {
  color: #8d8989;
  margin-left: 10px;
}

input {
  outline: none;
  width: 600px;
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #3d3d3d;
  color: rgba(238, 238, 238, 0.8078431373);
}

section form input {
  border-radius: 10px;
  margin-bottom: 15px;
}

div.active input.input-task {
  color: #5255e7;
  font-weight: bold;
}

button {
  margin-left: 15px;
  border-style: none;
  cursor: pointer;
  background: transparent;
  font-size: 3rem;
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.8078431373), #5c5b61);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

section form button {
  font-size: 2.5rem;
}

div.active button.btn-edit,
button.btn-edit:hover {
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.8078431373), rgba(26, 13, 218, 0.7882352941));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.add:hover {
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.8078431373), green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button.delete:hover,
button.btn-delete:hover {
  background: -webkit-linear-gradient(rgba(238, 238, 238, 0.8078431373), red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
  header,
section,
h3 {
    width: 680px;
    padding: 6px;
  }
  header {
    margin: 5px;
  }
  header h1,
h2,
h3,
section h4 {
    margin-bottom: 5px;
  }
  h2 {
    margin-top: 7px;
  }
  h3 {
    margin-bottom: 5px;
  }
  h3 span {
    margin-left: 10px;
  }
  input {
    width: 420px;
    padding: 10px;
  }
  section form input {
    border-radius: 10px;
    margin-bottom: 15px;
  }
  button {
    margin-left: 7px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  :root {
    font-size: 5px;
  }
  header,
section,
h3 {
    width: 450px;
    padding: 5px;
  }
  header {
    margin: 5px;
  }
  header h1,
h2,
h3,
section h4 {
    margin-bottom: 5px;
  }
  h2 {
    margin-top: 7px;
  }
  h3 {
    margin-bottom: 5px;
  }
  h3 span {
    margin-left: 10px;
  }
  input {
    width: 300px;
    padding: 10px;
  }
  section form input {
    border-radius: 10px;
    margin-bottom: 15px;
  }
  button {
    margin-left: 7px;
  }
}
@media (max-width: 900px) and (orientation: portrait) {
  :root {
    font-size: 10px;
  }
  header,
section,
h3 {
    width: 700px;
    padding: 5px;
  }
  input {
    width: 370px;
  }
}
@media (max-width: 650px) and (orientation: portrait) {
  :root {
    font-size: 6.5px;
  }
  header,
section,
h3 {
    width: 450px;
  }
  input {
    width: 250px;
  }
}
@media (max-width: 450px) and (orientation: portrait) {
  :root {
    font-size: 5px;
  }
  header,
section,
h3 {
    width: 320px;
    padding: 0 6px;
  }
  input {
    width: 200px;
    padding: 10px;
  }
  button {
    margin-left: 5px;
  }
}/*# sourceMappingURL=style.css.map */